
html{
    scroll-behavior: smooth;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
  font-family: "Montserrat", sans-serif;
  background-color: #F8F8FF;
  padding-top: 70px;
  
}

img{
    width: 100%;
}
section{
    padding: 40px 0;
    background: #778899;
}
.section_title{
    margin-bottom: 30px;

}
.section_title h2{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .5s ease-in-out;

}
.section_title h2:hover{
    background-color: #87CEFA;
}

header{
    height: 50px;
    background-color:#B0C4DE;
    border-bottom: 1px solid rgba(238, 238, 238, 0.801);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}
.nav_links{
    display: flex;
}

 .nav_links{
    display: flex;
}

.nav_links li{
    margin-left: 15px;
}

.nav_links li a{
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.nav_links li a:hover{
    background-color: #FFB6C1;
}  
.logo h2 a,
.logo h2 a:visited,
.logo h2 a:hover,
.logo h2 a:active{
    color: #F08080

